<div style="text-align:center">
    <h1>Het is tijd om Skype en TeamSpeak te dumpen.</h1>
    <h4>Alles-in-één spraak- en tekstchat voor gamers die gratis en veilig is en werkt op zowel uw desktop als telefoon. Stop met betalen voor TeamSpeak-servers en gedoe met Skype. Versimpel je leven.</h4>
    <div>
        <button routerLink="/register" class="btn btn-primary" style="margin:5%; padding: 3%">Registeren</button>
        <button routerLink="/login" class="btn btn-info" style="margin:5%; padding: 3%">Inloggen</button>
    </div>
    <img src="https://discordapp.com/assets/0d82411c439e3558f8b2f6fb12eccbc1.svg"/>
</div>